It seems that in the recent version of the dataset, the original csv file format was removed, and replaced by JSONs. This extremely simple script converts the json format into a single CSV file, which contains only the text and the associated rating. Feel free to use the output.

In [1]:
import json
import os

import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
data = {'stars': [], 'text': [], 'review_id': []}

with open('../input/yelp_academic_dataset_review.json') as f:
    for line in tqdm(f):
        review = json.loads(line)
        data['stars'].append(review['stars'])
        data['text'].append(review['text'])
        data['review_id'].append(review['review_id'])

6685900it [01:50, 60295.56it/s]

In [3]:
df = pd.DataFrame(data)

print(df.shape)
df.head()

(6685900, 3)

   stars           ...                         review_id
0    1.0           ...            Q1sbwvVQXV2734tPgoKj4Q
1    5.0           ...            GJXCdrto3ASJOqKeVWPi6Q
2    5.0           ...            2TzJjDVDEuAW6MR5Vuc1ug
3    5.0           ...            yi0R0Ugj_xUx_Nek0-_Qig
4    1.0           ...            11a8sVPMUFtaC7_ABRkmtw

[5 rows x 3 columns]

In [4]:
df['stars'] = df['stars'].astype('category')
df['text'] = df['text'].astype(str)
df['review_id'] = df['review_id'].astype(str)

In [5]:
df.shape

(6685900, 3)

In [6]:
df.to_pickle('reviews.pkl')